In [6]:
import pandas as pd

In [7]:
df1 = pd.read_csv('data/strathspey_combined.csv')
df2 = pd.read_csv('data/edinburgh-daytime-cleaned.csv')

merged_df = pd.merge(df1, df2, on='date', how='inner')

In [15]:
merged_df.head()

,date,temp_mean,temp_min,temp_max,rain_mm,pressure_early,pressure_late,wind_mean,wind_max,wind_dir,...,daylength,daylength_difference,at_start,at_end,nt_start,nt_end,ct_start,ct_end,sn_time,sn_mil_km
0,2011-12-01,3.6,-0.4,4.6,0.0,995,1004,4.1,36,SSW,...,0 days 07:25:45,NaN,06:00:00,18:02:00,06:45:00,17:17:00,07:33:00,16:29:00,12:01:00,147.520
1,2011-12-02,2.6,-1.5,7.5,5.5,1003,983,6.5,36,SSW,...,0 days 07:23:13,NaN,06:02:00,18:01:00,06:46:00,17:16:00,07:34:00,16:28:00,12:02:00,147.495
2,2011-12-03,2.4,0.4,4.4,6.0,986,988,9.5,46,SSW,...,0 days 07:20:48,NaN,06:03:00,18:01:00,06:48:00,17:16:00,07:36:00,16:28:00,12:02:00,147.471
3,2011-12-04,-1.6,-0.9,0.4,3.7,988,992,4.5,22,SSW,...,0 days 07:18:29,NaN,06:04:00,18:00:00,06:49:00,17:15:00,07:37:00,16:27:00,12:02:00,147.447
4,2011-12-05,-1.6,-4.2,0.2,2.9,994,998,2.8,17,SSW,...,0 days 07:16:17,NaN,06:05:00,18:00:00,06:50:00,17:15:00,07:39:00,16:27:00,12:03:00,147.425

In [9]:
merged_df_2012 = merged_df[pd.to_datetime(merged_df['date']).dt.year == 2012]

In [12]:
merged_df_2012['date'] = pd.to_datetime(merged_df_2012['date'], errors='coerce')

C:\Users\marks\AppData\Local\Temp\ipykernel_1026760\2251191525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_2012['date'] = pd.to_datetime(merged_df_2012['date'], errors='coerce')

In [13]:
merged_df_2012['date'].dt.year.unique().tolist()

[2012]

In [18]:
merged_df_2012.head(5)

,date,temp_mean,temp_min,temp_max,rain_mm,pressure_early,pressure_late,wind_mean,wind_max,wind_dir,...,daylength,daylength_difference,at_start,at_end,nt_start,nt_end,ct_start,ct_end,sn_time,sn_mil_km
31,2012-01-01,2.5,3,3.4,0.3,988,991,6.7,30,SSW,...,0 days 07:04:53,NaN,06:22:00,18:09:00,07:08:00,17:24:00,07:56:00,16:35:00,12:16:00,147.102
32,2012-01-02,-0.1,-0.1,3.4,6.6,960,991,7.8,29,SSW,...,0 days 07:06:20,NaN,06:22:00,18:10:00,07:08:00,17:25:00,07:56:00,16:36:00,12:16:00,147.100
33,2012-01-03,1.6,0.5,3.2,6.4,960,991,8.8,38,W,...,0 days 07:07:55,NaN,06:22:00,18:11:00,07:08:00,17:26:00,07:56:00,16:37:00,12:17:00,147.098
34,2012-01-04,1.4,0.5,3.1,15.4,1000,980,9.2,33,WSW,...,0 days 07:09:37,NaN,06:22:00,18:12:00,07:07:00,17:27:00,07:56:00,16:38:00,12:17:00,147.097
35,2012-01-05,0.7,-1.4,1.9,2.7,993,1015,7.3,31,W,...,0 days 07:11:26,NaN,06:22:00,18:13:00,07:07:00,17:28:00,07:56:00,16:40:00,12:17:00,147.097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2012-12-27,0.2,-4.3,4.8,0.2,1004,1011,2.2,16,NE,...,0 days 07:00:10,NaN,06:22:00,18:05:00,07:07:00,17:20:00,07:56:00,16:31:00,12:14:00,147.113
391,2012-12-28,6.3,-1.4,12.2,0.0,997,986,9.5,41,SSW,...,0 days 07:01:04,NaN,06:22:00,18:06:00,07:08:00,17:21:00,07:56:00,16:32:00,12:14:00,147.108
392,2012-12-29,5.8,4.5,7.5,0.0,985,983,11.5,50,SSW,...,0 days 07:02:06,NaN,06:22:00,18:07:00,07:08:00,17:22:00,07:57:00,16:33:00,12:15:00,147.104
393,2012-12-30,2,0.2,9,3.3,986,989,8.4,29,SSW,...,0 days 07:03:16,NaN,06:22:00,18:08:00,07:08:00,17:22:00,07:57:00,16:34:00,12:15:00,147.101
394,2012-12-31,4.7,1.2,8.1,0.5,976,994,6.9,34,SSW,...,0 days 07:04:33,NaN,06:22:00,18:09:00,07:08:00,17:23:00,07:56:00,16:35:00,12:15:00,147.099